@charset "UTF-8";

/* * { outline: 1px solid rosybrown; } */

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    z-index: 5;
    width: 100%;
    position: fixed;
    background-color: rgba(205, 203, 200, 0.611);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

nav ul li {
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul li span {
    font-weight: 700;
    font-size: 18px;
}

nav ul li span:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 800;
    text-decoration: wavy rgb(39, 12, 12) underline;
    text-underline-position: under;
}

body section {
    padding: 90px 0;
}

body section:nth-child(2) {
    padding-top: 0;
}

/* -------------------HOME------------------------------------------------------------- */
#home {
    width: 100%;
    height: 960px;
    position: relative;
    text-align: center;
}

#home video {
    width: 100%;
    height: 930px;
    object-fit: cover;
    background: white;
    mix-blend-mode: overlay;
}

#home .home_introduce {
    position: absolute;
    z-index: 3; 
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}

.home_scroll_wrap:hover {
    cursor: pointer;
}

.home_scroll_ani {
    position: absolute;
    top: 800px;
    left: 50%;
    width: 30px;
    height: 50px;
    transform: translate(-50%);
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

.home_scroll_ani::before {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 6px;
    height: 6px;
    content: '';
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    animation: sdb 1s infinite;
    box-sizing: border-box;
}

.home_scroll_ani::after {
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 18px;
    height: 18px;
    content: '';
    margin-left: -8.5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.home_scroll {
    font-weight: bold;
    position: absolute;
    top: 870px;
    left: 49.8%;
    margin-left: -18px;
    color: white;
}

.container {
    width: 1200px;
    min-width: 900px;
    display: flex;
    flex-direction: column;

}

/* -------------------------ABOUT ME--------------------------------------------------------- */
#aboutMe {
    position: relative;
    padding: 20px 0;
    height: 800px;
    display: flex;
}

.aboutMe_left {
    height: 570px;
}

.aboutMe_left h2 {
    position: absolute;
    padding-left: 40px;
    top: -10px;
    z-index: 3;
    font-size: 50px;
}

.aboutMe_left .background {
    position: absolute;
    width: 700px;
    height: 570px;
    background-color: rgba(241, 225, 255, 0.68);
}

.aboutMe_left .aboutMe_photo {
    position: absolute;
    width: 100px;
    top: 50px;
    left: 60px;
}

.aboutMe_left .aboutMe_photo img {
    position: absolute;
    top: 30px;
    width: 360px;
}

.aboutMe_right {
    z-index: 3;
    position: absolute;
    top:140px;
    align-items: center;
    left: 600px;
}

.aboutMe_right .aboutMeBtn {
    display: flex;
    height: 40px;
    margin-left: 25%;
}

.aboutMe_right .aboutMeBtn button {
    font-size: 30px;
    background-color: rgba(105, 63, 63, 0);
    border: none;
    margin: 0 10px;
    padding: 0 6px;
}

.aboutMe_right .aboutMeBtn button:hover {
    border: 1px solid grey;
    border-radius: 30%;
}

.aboutMe_right ul{
    width: 1000px;
    font-size: 20px;
}

.aboutMe_right ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 300;
    font-size: 16px;
}

.aboutMe_right ul li p {
    font-weight: 700;
    text-align: center;
    width: 140px;
}

.aboutMe_right .two p {
    width: 100px;
}

.aboutMe_right ul li span {
    font-size: 16px;
    margin-right: 10px;
}

/* -------------- skills -------------------------------------------------------------------*/
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative  ;
}

.skills_title {
    margin-bottom: 50px;
}

.skills_title h2 {
    font-size: 50px;
}

.skills_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills_wrap .used_tools {
    margin-left: 30px;
}

.skills_wrap h3 {
    width: 300px;
    height: 35px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.skills_img{
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


#skills img {
    width: 85px;
    margin: 10px;
}

/*----------------------- PORTFOLIO -----------------------------------------*/
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio_title h2 {
    text-align: center;
    font-size: 50px;
}

.portfolio_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.portfolio_wrap .portfolio_left .portfolio_topic {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0 25px 0;
}

.portfolio_wrap .portfolio_left .portfolio_content {
    line-height: 35px;
    font-size: 18px;
    justify-items: center;
}

.portfolio_wrap .portfolio_left .portfolio_content ul li {
    display: flex;
    margin-bottom: 10px;
}

.portfolio_wrap .portfolio_left .portfolio_content ul li p {
    width: 90px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.portfolio_wrap .portfolio_left .portfolio_content ul li span{
    display: inline-block;
    width: 500px;
}

.portfolio_left .portfolio_detail {
    display: flex;
    justify-content: center;
}

.portfolio_left .portfolio_detail button {
    background-color: white;
    width: 100px;
    height: 35px;
    border: 1px solid rgb(163, 158, 158);
    margin: 20px 0 10px 0;
}

.portfolio_left .portfolio_detail button:hover {
    background-color: rgba(255, 199, 103, 0.431);
    border: none;
    transition: all 0.5s ease-in-out;
}

.portfolio_wrap .portfolio_left .portfolio_btn {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.portfolio_wrap .portfolio_left a i {
    font-size: 20px;
}

.portfolio_wrap .portfolio_left a {
    font-weight: 700;
    outline: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 0 15px;
}

.portfolio_wrap .portfolio_left a:hover {
    background-color: rgb(125, 125, 125);
    color: white;
    font-weight: 700;
}

.portfolio_wrap .portfolio_left i {
    padding-right: 10px;
    font-size: 20px;
}

.portfolio_wrap .portfolio_right {
    display: flex;
    justify-content: center;
    width: 500px;
}

.portfolio_wrap .portfolio_right img {
    display: flex;
    justify-content: center;
    width: 430px;
}

/* 포트폴리오 모달 팝업 */
.portfolio_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(75, 65, 65, 0.501);
    z-index: -1;
    opacity: 0;
}

.portfolio_modal .modal_wrap .pop_up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    min-width: 700px;
    min-height:505px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.portfolio_modal .modal_wrap .pop_up .modal_close i {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 15px;
    font-size: 30px;
    transition: all ease 0.5s;
}

.portfolio_modal .modal_wrap .pop_up .modal_close i:hover {
    transform: rotate(90deg);
}    
.portfolio_modal .modal_wrap .pop_up .modal_btn {
    margin-top: 80px;
}

.portfolio_modal .modal_wrap .pop_up .modal_btn button {
    width: 115x;
    height: 35px;
    font-size: 16px;
    margin-right: 5px;
    border: none;
    outline: 1px solid rgb(254, 199, 111);
}

.portfolio_modal .modal_wrap .pop_up .modal_btn .click {
    background-color: bisque;
    border: none;
    font-weight: 700;
}

.portfolio_modal .modal_wrap .pop_up .modal_img_list {
    display: flex;
    justify-content: center;
}

.portfolio_modal .modal_wrap .pop_up .modal_img_list img {
    margin-top: 40px;
    width: 85%;
    object-fit: cover;
    display: none;
}

.portfolio_modal .modal_wrap .pop_up .modal_img_list .aaa {
    display: block;
}

.show {
    z-index: 20;
    opacity: 1;
    transition: all 0.5s;
}

/*------------------------- CONTACT ---------------------------------------------------*/
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_title {
    margin-bottom: 25px;
}

.contact_title h2 {
    font-size: 50px;
}

.contact_left p {
    margin-bottom: 10px;
}

.contact_left i {
    font-size: 20px;
    margin-right: 10px;
}

/*------------------------- footer -------------------------------------------------------*/
footer {
    width: 100%;
    height: 130px;
    background-color: beige;
}

footer div {
    padding-top:35px;
    text-align: center;
}
footer p {
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 4px;
    height: 30px;
}