@charset "UTF-8";

* { outline: 1px solid rosybrown; }

body {
    width: 100%;
}

nav {
    z-index: 2;
    width: 100%;
    position: fixed;
    background-color: rgba(205, 203, 200, 0.611);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

nav ul li {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

nav ul li:hover {
    text-decoration: underline;
    font-size: 20px;
    overflow: hidden;
}

body section {
    padding: 60px 0;
}

body section:nth-child(2) {
    padding-top: 0;
}

/* -------------------HOME-------------------------------------------------------------------------------- */
#home {
    width: 100%;
    height: 960px;
    position: relative;
    text-align: center;
}

#home video {
    width: 100%;
    height: 930px;
    object-fit: cover;
    background: white;
    mix-blend-mode: overlay;
}

#home .home_introduce {
    position: absolute;
    z-index: 3; 
    bottom: 55%;
    left: 30%;
    /* background-color: rgba(227, 230, 232, 0.376); */
    color: white;
    font-size: 50px;
}

.home_scroll_ani {
    position: absolute;
    top: 800px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

.home_scroll_ani::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    animation: sdb 1s infinite;
    box-sizing: border-box;
}

.home_scroll_ani::after {
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 18px;
    height: 18px;
    content: '';
    margin-left: -8.5px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.home_scroll {
    position: absolute;
    top: 870px;
    left: 50%;
    margin-left: -18px;
    color: white;
}

/* ------------------------------ABOUT ME--------------------------------------------------------------------------- */
#aboutMe {
    position: relative;
    padding: 20px 0;
    height: 800px;
    display: flex;
}

.aboutMe_left {
    height: 570px;
}

.aboutMe_left h2 {
    position: absolute;
    padding-left: 20px;
    top: -10px;
    z-index: 3;
    font-size: 50px;
}

.aboutMe_left .background {
    position: absolute;
    width: 700px;
    height: 570px;
    background-color: rgba(241, 225, 255, 0.68);
}

.aboutMe_left .aboutMe_photo {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 20px;
}

.aboutMe_left .aboutMe_photo img {
    position: absolute;
    top: 20px;
    width: 360px;
}

.aboutMe_right {
    z-index: 3;
    position: absolute;
    top:140px;
    align-items: center;
    left: 650px;
}

.aboutMe_right table {
    font-size: 24px;
    width: 700px;
}

.aboutMe_right tr {
    height: 40px;
}

.aboutMe_right th {
    font-weight: 700;
    padding-right: 15px;
}

.aboutMe_right td {
    font-weight: 300;
}

/* -------------- skills --------------------------------------------------------------------------------*/
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative  ;
}

.skills_title {
    margin-bottom: 50px;
}

.skills_title h2 {
    font-size: 50px;
}

#skills img {
    width: 85px;
}

/* PORTFOLIO */
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio_title h2 {
    text-align: center;
    font-size: 50px;
}

.portfolio_title h3 {
    margin: 30px 0;
}

.portfolio_wrap {
    display: flex;
}
.portfolio_wrap .portfolio_left {
    flex: 1;
}
.portfolio_wrap .portfolio_left a {
    outline: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
}

.portfolio_wrap .portfolio_left a:hover {
    background-color: rgb(164, 164, 164);
    color: white;
    font-weight: 700;
}

.portfolio_wrap .portfolio_left a i {
    padding-right: 10px;
}

.portfolio_wrap .portfolio_right {
    flex: 1;
}

.portfolio_wrap .portfolio_right img {
    display: flex;
    justify-content: center;
    width: 450px;
}

/*------------------------- CONTACT --------------------------------------------------------------------------------*/
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h2 {
    font-size: 50px;
}

/*------------------------- footer --------------------------------------------------------------------------------*/
footer {
    height: 100px;
    background-color: beige;
}

footer div {
    padding-top: 35px;
    text-align: center;
}
footer p {
    font-weight: 300;
    font-size: 12px;
}







.aboutMe_right .two {
    background-color: aqua;
    /* display: none; */
}